In [17]:
import pandas as pd
import numpy as np

In [2]:
jokes = pd.read_csv('data_1.csv', delimiter= ",", encoding='utf-8', header=None)

In [75]:
train_csv = pd.read_csv('train.csv', delimiter= ",", encoding='utf-8', header=None)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
train_y = train_csv[3][1:]

In [77]:
train_x1 = train_csv[1][1:]
train_x2 = train_csv[2][1:]

In [85]:
train_x = []
for i in range(1,1092060):
#     print((train_x2[i]) )
#     print( jokes.iloc[ int(train_x2[i]) ] )
    row = np.concatenate(([int(train_x1[i])], np.transpose(np.array(jokes.iloc[ int(train_x2[i]) ]))) , axis= 0)
#     print(row)
    train_x.append(row)
    
# train_x
# train_x1 = np.array(train_x)
# train_x1.shape

In [86]:
train_x_arr = np.array(train_x)

In [87]:
train_x_arr.shape

(1092059, 3001)

In [89]:
train_y

1                        2.75
2          5.0939999999999985
3                      -6.438
4          4.4060000000000015
5                       9.375
6                      -1.781
7                        6.25
8                      -2.906
9                       -5.75
10                      1.656
11                      1.656
12                      0.688
13         1.3119999999999998
14         6.0310000000000015
15                      9.781
16                       8.75
17                      0.156
18                      3.562
19                      2.938
20                       3.75
21                     -1.906
22                      3.469
23                        7.0
24         4.6560000000000015
25                      1.719
26         6.2189999999999985
27                      -8.25
28                      5.188
29                     -2.281
30                      1.406
                  ...
1092030                -0.125
1092031                 5.438
1092032                  5.25
1092033                 -7.25
1092034                 1.625
1092035                -0.281
1092036                -2.594
1092037                -0.094
1092038                 4.812
1092039                -2.562
1092040                 3.188
1092041                 4.031
1092042                 6.531
1092043                -1.344
1092044                -4.094
1092045                 3.375
1092046                 6.375
1092047                 5.312
1092048                 4.906
1092049                -4.969
1092050                -2.406
1092051                -7.125
1092052                 3.281
1092053                -6.844
1092054                     9
1092055                 3.156
1092056                -1.594
1092057                     2
1092058                 8.906
1092059                -3.344
Name: 3, Length: 1092059, dtype: object

In [90]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from keras.callbacks import ModelCheckpoint

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [100]:
from keras.layers import Dropout
model = Sequential()
#Adding the input layer and first hidden layer
model.add(Dense(units =480, kernel_initializer='random_uniform', activation= 'tanh', 
                input_dim=train_x_arr.shape[1]))
model.add(Dropout(0.3))
#Add the second hidden layer
model.add(Dense(units =240, kernel_initializer='random_uniform', activation= 'tanh'))
model.add(Dropout(0.3))
#Add the second hidden layer

model.add(Dense(units =120, kernel_initializer='random_uniform', activation= 'relu'))
model.add(Dropout(0.3))

model.add(Dense(units =60, kernel_initializer='random_uniform', activation= 'relu'))
model.add(Dropout(0.3))

model.add(Dense(units =10, kernel_initializer='random_uniform', activation= 'relu'))
#The output layer
model.add(Dense(units =1, kernel_initializer='random_uniform', activation= 'elu'))

#Compiling the ANN
opt = keras.optimizers.Adam(lr=0.0015)
model.compile(optimizer=opt, loss='mean_squared_logarithmic_error', metrics=['mse'])
#Fitting the ANN to the training set
model_filepath = 'min_vl_model.h5'
checkpoint = ModelCheckpoint(model_filepath, monitor = 'val_loss', verbose=1, save_best_only = True, mode='min' )

/anaconda3/lib/python3.6/site-packages/keras/models.py:939: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Train on 873647 samples, validate on 218412 samples
Epoch 1/1
873600/873647 [============================>.] - ETA: 0s - loss: 0.7802 - mean_squared_error: 26.6783Epoch 00001: val_loss improved from inf to 0.76511, saving model to min_vl_model.h5
873647/873647 [==============================] - 844s 966us/step - loss: 0.7802 - mean_squared_error: 26.6784 - val_loss: 0.7651 - val_mean_squared_error: 26.3523

In [139]:
model.fit(train_x_arr,train_y, validation_split=0.2, batch_size=32, nb_epoch=2, callbacks=[checkpoint])
model.load_weights(model_filepath)

Train on 873647 samples, validate on 218412 samples
Epoch 1/2
    96/873647 [..............................] - ETA: 25:23 - loss: 0.8057 - mean_squared_error: 28.3227

/anaconda3/lib/python3.6/site-packages/keras/models.py:939: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

873632/873647 [============================>.] - ETA: 0s - loss: 0.7717 - mean_squared_error: 26.5325Epoch 00001: val_loss did not improve
873647/873647 [==============================] - 929s 1ms/step - loss: 0.7717 - mean_squared_error: 26.5325 - val_loss: 0.7688 - val_mean_squared_error: 26.4161
Epoch 2/2
873632/873647 [============================>.] - ETA: 0s - loss: 0.7718 - mean_squared_error: 26.5375Epoch 00002: val_loss improved from 0.76511 to 0.76407, saving model to min_vl_model.h5
873647/873647 [==============================] - 881s 1ms/step - loss: 0.7718 - mean_squared_error: 26.5374 - val_loss: 0.7641 - val_mean_squared_error: 26.2659

In [101]:
test_csv = pd.read_csv('test.csv', delimiter= ",", encoding='utf-8', header=None)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [103]:
test_x1 = train_csv[1][1:]
test_x2 = train_csv[2][1:]

In [ ]:
test_x = []
for i in range(1,537881):
#     print((train_x2[i]) )
#     print( jokes.iloc[ int(train_x2[i]) ] )
    row = np.concatenate(([int(test_x1[i])], np.transpose(np.array(jokes.iloc[ int(test_x2[i]) ]))) , axis= 0)
#     print(row)
    test_x.append(row)
    
# train_x
# train_x1 = np.array(train_x)
# train_x1.shape

In [ ]:
test_x_arr = np.array(test_x)
y_pred1 = model.predict(test_x_arr)

In [127]:
y_pred = pd.DataFrame(y_pred)
y_pred["id"] = test_csv[0]

In [128]:
y_pred = y_pred.rename(columns={0: "Rating"})
y_pred = y_pred[["id","Rating"]]
y_pred.to_csv("Submission.csv", index=False)

In [135]:
y_pred1.shape

(537880, 1)

In [116]:
test_csv.shape

(537881, 3)

In [131]:
y_pred = np.concatenate((y_pred1, y_pred2), axis = 0)

In [ ]:
f = open("output.csv", "w") 
f.write("id,Rating\n")
for i in range(537880):
    row = str(test_csv[0][i+1]) + "," + str(float(y_pred1[i])) + "\n"
    f.write(row)
f.close()

In [134]:
test_csv

                0        1        2
0              id  user_id  joke_id
1         6194_11     6194       11
2         19356_3    19356        3
3        23426_79    23426       79
4         40030_3    40030        3
5       19806_115    19806      115
6        10487_45    10487       45
7         19959_8    19959        8
8        10979_66    10979       66
9         34886_6    34886        6
10       4729_103     4729      103
11       29445_94    29445       94
12        5071_22     5071       22
13       17619_87    17619       87
14       35698_59    35698       59
15      24721_125    24721      125
16        13032_7    13032        7
17        3766_23     3766       23
18       6287_137     6287      137
19        1876_87     1876       87
20        16375_3    16375        3
21       17777_40    17777       40
22       27966_79    27966       79
23        39276_9    39276        9
24        20382_6    20382        6
25       23184_59    23184       59
26       31703_12    31703       12
27        9642_75     9642       75
28       24627_68    24627       68
29         1215_5     1215        5
...           ...      ...      ...
537851   38107_83    38107       83
537852    6885_40     6885       40
537853  33502_111    33502      111
537854    16015_2    16015        2
537855   27776_40    27776       40
537856   21378_68    21378       68
537857   32531_83    32531       83
537858   13965_44    13965       44
537859    20301_6    20301        6
537860   33943_76    33943       76
537861   17448_56    17448       56
537862    32704_7    32704        7
537863   2012_100     2012      100
537864   30931_53    30931       53
537865   15990_22    15990       22
537866   10937_25    10937       25
537867   8773_115     8773      115
537868   12221_13    12221       13
537869  31653_114    31653      114
537870    6556_55     6556       55
537871   12196_88    12196       88
537872    26145_7    26145        7
537873   23510_43    23510       43
537874    39267_2    39267        2
537875     1857_5     1857        5
537876   14333_74    14333       74
537877   25245_16    25245       16
537878     4082_9     4082        9
537879  19638_128    19638      128
537880   40665_26    40665       26

[537881 rows x 3 columns]

In [8]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.stem.porter import *

In [9]:
nltk.download('stopwords')
stpwords = stopwords.words('english') + list(string.punctuation); print(stpwords)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/manikant/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']

In [10]:
jokes['words'] = [sentence.split(" ") for sentence in jokes[1]]

In [13]:
jokes['sentences'] = [" ".join([w for w in query if w not in stpwords]) for query in jokes['words'] ]

In [14]:
jokes["sentences"] = ["".join([w for w in query if w not in string.punctuation]) for query in jokes['sentences']]

In [16]:
from nltk.stem.porter import *
import re
words = re.compile(r"\w+",re.I)

stemmer = PorterStemmer()
queries = []
for q in jokes['sentences'].tolist():
        queries.append([stemmer.stem(i.lower()) for i in words.findall(q)])

NameError: name 'test_data' is not defined

In [18]:
jokes['sentences'] = [" ".join([w for w in sentence]) for sentence in queries]
del queries

In [19]:
jokes['sentences']

0                                               joketext
1      q what o j simpson web address a slash slash b...
2      how mani feminist take screw light bulb that f...
3      q did hear dyslex devil worship a he sold soul...
4      they ask japanes visitor elect countri everi m...
5      q what blind person say given matzah a who hel...
6              q what orang sound like parrot a a carrot
7      how mani men take screw light bulb one men scr...
8      a dog walk western union ask clerk send telegr...
9      q if person speak three languag call trilingu ...
10     what differ macintosh etchasketch you shake ma...
11     what differ use tire 365 use condom one goodye...
12     a duck walk pharmaci ask condom the pharmacist...
13     q what australian word boomerang come back a a...
14             what get run parakeet lawnmow shred tweet
15     two kindergarten girl talk outsid one said you...
16     a guy walk bar sit next extrem gorgeou woman t...
17     bill clinton return vacat arkansa walk step ai...
18     a mechan engin electr engin softwar engin micr...
19     an old scotsman sit younger scottish gentleman...
20     q what differ lawyer plumber a a plumber work ...
21     presid clinton look desk oval offic see one ai...
22     a man arriv gate heaven st peter ask religion ...
23       what call american final world cup hey beer man
24     out backwood midwestern state littl johnni arr...
25     an explor deepest amazon suddenli find surroun...
26     a guy walk bar order beer say bartend hey i go...
27     a jewish young man see psychiatrist eat sleep ...
28     may i take order waiter ask ye prepar chicken ...
29     what differ men women a woman want one man sat...
                             ...
110    judi troubl comput call toni comput guy desk t...
111    a drunk stagger cathol church enter confession...
112    an astronom physicist mathematician it said ho...
113    when peopl claim kill time express when chuck ...
114    person 1 hey wanna hear great knockknock joke ...
115    an american tourist goe restaur spain order sp...
116    a briton frenchman russian view paint adam eve...
117    a littl boy goe dad ask what polit hi dad say ...
118    an american scot canadian terribl car accid th...
119    a group girlfriend vacat see 5stori hotel sign...
120    an old man goe doctor yearli physic wife tag a...
121    a guy feel long final decid seek aid psychiatr...
122    mickey mous nasti divorc minni mous mickey spo...
123    the new employe stood paper shredder look conf...
124    an artist ask galleri owner interest paint cur...
125    a guy walk past mental hospit heard moan voic ...
126    a man went appli job after fill applic wait an...
127    deep within forest littl turtl began climb tre...
128    washington reuter a tragic fire monday destroy...
129    in veteran day speech presid bush vow we finis...
130    chuck norri calendar goe straight march 31st a...
131               jack bauer get mcdonald breakfast 1030
132    one day three men went shrine ask father forgi...
133    a preist 12yearold kid smartest guy world plan...
134    a man drive countri one even car stall start h...
135    a blond brunett red head line shot death fire ...
136    america 800 welcom work 1200 lunch break 1700 ...
137    it day big sale rumor sale and advertis local ...
138    recent teacher garbag collector lawyer wound t...
139    a littl girl ask father daddi do fairi tale be...
Name: sentences, Length: 140, dtype: object

In [20]:
import os
import csv
import codecs
import numpy as np
import pandas as pd
np.random.seed(1337)

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical
from keras.layers import Dense, Input, Flatten, merge, LSTM, Lambda, Dropout
from keras.layers import Conv1D, MaxPooling1D, Embedding
from keras.models import Model
from keras.layers.wrappers import TimeDistributed, Bidirectional
from keras.layers.normalization import BatchNormalization
from keras import backend as K
import sys

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [21]:
MAX_SEQUENCE_LENGTH = 3000
MAX_NB_WORDS = 200000
EMBEDDING_DIM = 50
VALIDATION_SPLIT = 0.01

In [22]:
print('Indexing word vectors.')
embeddings_index = {}
#should change the file for speed putting small one
f = codecs.open('/Users/manikant/Documents/kaggle_challenges/quora_pairs/input/glove.6B.50d.txt', encoding='utf-8')
for line in f:
    values = line.split(' ')
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()
print('Found %s word vectors.' % len(embeddings_index))

Indexing word vectors.
Found 400000 word vectors.

In [23]:
tokenizer = Tokenizer(nb_words=MAX_NB_WORDS)

/anaconda3/lib/python3.6/site-packages/keras/preprocessing/text.py:145: UserWarning: The `nb_words` argument in `Tokenizer` has been renamed `num_words`.
  warnings.warn('The `nb_words` argument in `Tokenizer` '

In [24]:
tokenizer.fit_on_texts(jokes['sentences'])

In [25]:
sequences_1 = tokenizer.texts_to_sequences(jokes['sentences'])

In [26]:
word_index = tokenizer.word_index

In [28]:
data_1 = pad_sequences(sequences_1, maxlen=MAX_SEQUENCE_LENGTH)

In [29]:
del sequences_1

In [30]:
import gc
gc.collect()

0

In [31]:
print('Preparing embedding matrix.')
# prepare embedding matrix
nb_words = min(MAX_NB_WORDS, len(word_index)) + 1

embedding_matrix = np.zeros((nb_words, EMBEDDING_DIM))
for word, i in word_index.items():
    if i >= nb_words:
        continue
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:
        # words not found in embedding index will be all-zeros.
        embedding_matrix[i] = embedding_vector
print('Null word embeddings: %d' % np.sum(np.sum(embedding_matrix, axis=1) == 0))

Preparing embedding matrix.
Null word embeddings: 388

In [33]:
data_1.shape

(140, 3000)

In [34]:
data_1 = np.array(data_1)

In [35]:
np.savetxt("data_1.csv", data_1, delimiter=",")